.background-1 {
    background-color: rgb(193, 193, 193);
}

.background-2 {
    background-color: rgb(239, 239, 239);
    padding-top: 80px;
    padding-bottom: 80px;
}

.background-3 {
    background-color: rgb(34, 34, 34);
    padding-top: 20px;
    padding-bottom: 30px;
}

.background-4 {
    background-color: rgb(242, 242, 242);
    padding-top: 50px;
    padding-bottom: 50px;
}


/*name card*/

.author-card {
    position: absolute;
    display: block;
}

.author-card img {
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    height: 80px;
    width: 80px;
}

.comment {
    background: #f4f4f4;
    color: #565656;
    font-family: "Lora";
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.9rem;
    padding: 1.875rem;
    position: relative;
}

.business-card {
    text-align: center;
    position: relative;
    display: block;
}

.introduction {
    background: #f4f4f4;
    color: #565656;
    font-family: "Lora";
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2rem;
    padding: 2rem;
    position: relative;
}

.introduction:after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
}

.author-card {
    position: relative;
}

.padding-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
