a.btn {
    border-radius: 2px;
}

a.btn-1 {}


/*變化2-透明 → white*/

a.btn-2 {
    background-color: rgba(0%, 0%, 0%, 0);
    border-color: white;
}

a.btn-2:hover {
    color: black;
    background-color: white;
    border-color: white;
}

a.btn-3 {
    background-color: #597478;
    border-color: #597478;
    color: #fff;
}

.btn-9 {
    position: absolute;
    bottom: 46px;
    left: 50%;
    width: 46px;
}

.download-btn {
    float: left;
    margin-left: 10px;
    border-radius: 2px;
}

.logo-btn {
    text-align: center;
}

.logo-btn>a img {
    margin: 1px;
    border-radius: 50%;
}

i {
    padding: 10px;
}

.u {
    overflow: auto;
    width: 40%;
    padding: 40%
}
